body{
font-family:'vesper libre',serif;
color: #1a1a1a;
line-height: 1.5
font-size: 1.125rem;
}
/* Select `body` 
  - Set the default font family to be `Vesper Libre`
  - Set the text color to `#1a1a1a`
  - Set line height to `1.5`
  - Update font size to `1.125rem` */
  img {
    width: 100%;
  }
  /* 
3. Select `figcaption`, `.article-category`, `.sub-title`, `.author` and `time`
  - Change font-family to `Open Sans` */

  figcaption,.article-category,.sub-title,.author,time {
font-family: 'open sans',sans-serif;
  }
  /* 4. Select text using the class of `article-category`
  - Change text to be displayed as uppercase
  - Set font size to be `.85rem`
  - Add `border-bottom: 2px solid #ff3530`
  - Add `display: inline;` */
.article-category, text {
text-transform: uppercase;
font-size: .85rem;
border-bottom: 2px solid #ff3530;
display: inline;
  }
  